/* Navbar */
#index .navbar {
    color: rgb(255, 0, 0);
    
  }

  
  
  
  #index .nav-link {
    color: rgb(255, 255, 255);
    margin-right: 10px;
    
  }
  
  #index .navbar-brand {
    color: rgb(255, 255, 255);
  }
  
  .navbar {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    background-color: #3a3838;
  
  }
  
  #index .nav-link:hover {
    color: #0b63dc;
  }
  
  .nav-link:hover {
    color: #0b63dc;
  }

  
  

  /* Jumbotron */
.jumbotron {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('jumbotron/bg-awal.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

.btn-primary {
  background-color: #171515;
  border-color: #171515;
  color: white;
}
.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(4px);
  position: absolute;
}

.jumbotron h1 {
  font-size: 4.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron .btn {
  font-size: 1rem;
  border-radius: 40px;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

/*materi*/
.fungsi {
  margin-left: 115px;
  margin-right: 115px;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: Poppins, sans-serif;
}
.judul {
  color: #1763f0;
}






/*grafik*/

#plot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* Memastikan margin rata */
  width: 80%;
}
.grafik {
  margin-top: 90px;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  margin-bottom: 40px;
  color: #100e0e;
}
.btn {
  background-color: #100e0e;
  color: #f0f0f0;
}
 /*Tentang*/
.about {
  
  margin-top: 150px;
  color: #100e0e;
  background-image: url(bahan/bgt\ \(1\).jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Poppins, sans-serif;
  font-size: 20px;
}

.isitentang {
  display: flex;
  justify-content: center;
  margin-top: 170px;
  font-size: 25px;
}

.member{
  justify-content: center;
  display: flex;
  margin-top: 50px;
  font-family: poppins, sans-serif;
  
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  background-color: #f0f0f0;
  background-image: url(bahan/bgt2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  
}

.box {
  display: flex;
  flex-direction: column; /* Elemen ditumpuk secara vertikal */
  align-items: center;
  justify-content: center;
  background-color: #1763f0;
  box-shadow: 0 0 5px rgba(30, 144, 255, 75);
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 250px;
  height: 300px;

  margin: 70px;
}



.box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  
  
}

.box a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.box a:hover {
  color: #ffffff;
  
}

.box p {
  margin: 0;
  font-size: 14px;
  color: #fffcfc;
}



/* footer */

footer {
   
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    background-color: #100e0e;
    
    text-align: center;
    font-family: 'Rubik', sans-serif;
    
}
footer span a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}

/* contact section styling */

/* Gaya global untuk pengaturan font dan tampilan tengah */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    padding-top: 70px; 
    min-height: calc(100vh - 60px);
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    opacity: 100%;
    
}

.contact-container h2 {
    text-align: center;
    font-size: 24px;
}

.highlight-text {
    color: #0077cc;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info, .contact-form {
    width: 45%;
}

.contact-info p {
    font-size: 16px;
    color: #333;
}

.contact-info p strong {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #100e0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #1763f0;
}







